/* styles.css */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
}

.main {
    overflow-y: auto;
    max-height: 100vh;
}
.milky-way-background {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background:  #191c20; /* Radial gradient from dark blue to black */
}
.milky-way-background::before,

.milky-way-background::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200%;
    height: 200%;
    opacity: 0.15;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 2%, transparent 5%);
    background-size: 50px 50px;
}

.milky-way-background::before {
    transform: translate(-50%, -50%) rotate(30deg);
}

.milky-way-background::after {
    transform: translate(-50%, -50%) rotate(-30deg);
}

.content {
    color: white;
    text-align: center;
    padding-top: 2%;
}

.shooting-star {
    position: absolute;
    width: 2px;
    height: 80px;
    background: linear-gradient(white, rgba(255, 255, 255, 0));
    opacity: 0.2;
    transform: rotate(var(--angle));
    animation: shooting 5s linear;
}

@keyframes shooting {
    0% {
        top: var(--start-top);
        left: var(--start-left);
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    100% {
        top: var(--end-top);
        left: var(--end-left);
        opacity: 0;
    }
}
.top-bar {
    display: flex;
    justify-content: right;
    padding-right: 4%;
}
.icons-wrapper {
    width: 200px;
    display: flex;
}
.icons-wrapper > a {
    flex: 1;
    z-index: 1;
    text-align: right;
    display: inline-block;
    padding: 20px;
    margin-left: 25px;
}
.icon {
    max-width: 2rem;
    max-height: 2rem;
    filter: invert(1);
}
@media screen and (max-width: 992px) {
    .top-bar {
        display: flex;
        justify-content: space-around;
    }
   
}
.display-container {
    display: flex;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 10%;
    padding-left: 10%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.card {
    width: 400px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 12px #424871;
    cursor: pointer;
    transition: transform 0.2s;
}

.affinity {
    padding: 15px 15px 5px 15px;
    background-color: #fff;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    margin: 0;
    padding: 0;
    height: auto;
    display: block;
    object-fit: cover;
}

.card-name {
    padding: 16px;
    margin: 0;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: gray;
    background-color: #fff;
}

footer {
    padding: 20px;
}
